### Summary
In R00 dataset, we are only using columns "Q1" to "Q8". And in these columns we do not have any missing values.

In DND dataset, there are several issues:
* There is a subject id "1q9". It seems to be a typo from 119.
* For subject with id **[031, 001, 002, 072]**, they only have 1 or 2 response. Need to double check.

In [1]:
import pandas as pd

In [2]:
ids = [1020,1030,1008,1051,1097,1096,1041,1014,1029,1035,1049,1084,1032,1073,1039,1087,1021,1004,1050,1024,1018,1019,1085,1009,1080,1016,1002,1060,1067,1034,1066,1037,1047,1045,1079,1081,1048]

In [3]:
path = "/Users/sicongzhao/Box/My Box Notes/Emotional-State-Capstone/data/R00/experience_sampling/Exp_Samp_individual/EmoExpSamp"

In [89]:
result = pd.DataFrame()
for aid in ids:
#     print(aid)
    url = path + str(aid) + '.csv'
    exp_data = pd.read_csv(url, encoding = "ISO-8859-1")
    missing_ratio = (exp_data.isna().sum())/(exp_data.shape[0]-1)
#     print(missing_ratio)
    missing_df = missing_ratio.to_frame().T
    missing_df['id'] = aid
    result = result.append(missing_df)
del result['Unnamed: 33']

In [90]:
result.to_csv('exp_missingness.csv')

In [91]:
result.describe().T

,count,mean,std,min,25%,50%,75%,max
EndDate,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ExternalDataReference,2.0,0.957273,0.003857,0.954545,0.955909,0.957273,0.958636,0.960000
Finished,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
IPAddress,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
LocationAccuracy,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
LocationLatitude,37.0,0.019168,0.048246,0.000000,0.000000,0.000000,0.000000,0.222222
LocationLongitude,37.0,0.019168,0.048246,0.000000,0.000000,0.000000,0.000000,0.222222
Q1,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Q10,37.0,0.001900,0.008139,0.000000,0.000000,0.000000,0.000000,0.040000
Q11,37.0,0.002832,0.009733,0.000000,0.000000,0.000000,0.000000,0.040000
Q12,37.0,0.567029,0.287561,0.000000,0.318182,0.625000,0.740741,1.000000
Q13,37.0,0.567029,0.287561,0.000000,0.318182,0.625000,0.740741,1.000000
Q14,37.0,0.006464,0.018496,0.000000,0.000000,0.000000,0.000000,0.090909
Q15_1,37.0,0.627973,0.208964,0.117647,0.500000,0.608696,0.793103,0.965517
Q16,37.0,0.626171,0.207723,0.117647,0.500000,0.608696,0.766667,0.965517
Q17,37.0,0.626171,0.207723,0.117647,0.500000,0.608696,0.766667,0.965517
Q18,37.0,0.626171,0.207723,0.117647,0.500000,0.608696,0.766667,0.965517
Q19,37.0,0.626171,0.207723,0.117647,0.500000,0.608696,0.766667,0.965517
Q2,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Q20,37.0,0.016285,0.042897,0.000000,0.000000,0.000000,0.000000,0.222222
Q3,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Q4,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Q5,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Q6,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Q7,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Q8,37.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Q9,37.0,0.001900,0.008139,0.000000,0.000000,0.000000,0.000000,0.040000
RecipientEmail,2.0,0.957273,0.003857,0.954545,0.955909,0.957273,0.958636,0.960000
RecipientFirstName,2.0,0.957273,0.003857,0.954545,0.955909,0.957273,0.958636,0.960000
RecipientLastName,2.0,0.957273,0.003857,0.954545,0.955909,0.957273,0.958636,0.960000
ResponseID,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ResponseSet,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
StartDate,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Status,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V1,29.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V10,35.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V2,35.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V3,35.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V4,35.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
V5,35.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
V6,35.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V7,35.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V8,35.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
V9,35.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
id,37.0,1045.324324,27.847855,1002.000000,1021.000000,1041.000000,1067.000000,1097.000000
ÈÀV1,6.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

url

In [88]:
# Column dictionary
exp_data = pd.read_csv('/Users/sicongzhao/Box/My Box Notes/Emotional-State-Capstone/data/R00/experience_sampling/Exp_Samp_individual/EmoExpSamp1048.csv')
exp_data.T[0]

V1                                                          ResponseID
V2                                                         ResponseSet
V3                                                                Name
V4                                               ExternalDataReference
V5                                                        EmailAddress
V6                                                           IPAddress
V7                                                              Status
V8                                                           StartDate
V9                                                             EndDate
V10                                                           Finished
Q1                   How calm, at rest, relaxed, peaceful, or seren...
Q2                   How enthusiastic, excited, elated, or strong d...
Q3                   How fearful, hostile, or nervous do you feel r...
Q4                   How dull, sleepy, or sluggish do you feel righ...
Q5                   How quiet, still, or passive do you feel right...
Q6                   How happy, satisfied, or content do you feel r...
Q7                   How sad, lonely, or unhappy do you feel right ...
Q8                   How aroused, surprised, or astonished do you f...
Q9                   Are you with another person or other people ri...
Q10                  How much are you interacting with people aroun...
Q11                  In the past three hours, did any thoughts abou...
Q12                  Please estimate how many of these thoughts you...
Q13                  On average, how positive or pleasant did those...
Q14                  Have you engaged in physical activity in the p...
Q15_1                During the past three hours how long (in minut...
Q16                  How intense (on average) was the activity you ...
Q17                     What kind of physical activity were you doing?
Q18                  To what extent did you experience positive emo...
Q19                           Were you physically active with others?
Q20                  How much do you currently want to be physicall...
LocationLatitude                                      LocationLatitude
LocationLongitude                                    LocationLongitude
LocationAccuracy                                      LocationAccuracy
Unnamed: 33                                                        NaN
Name: 0, dtype: object

In [95]:
result[result['id']==1016].T

                             0
EndDate                    NaN
ExternalDataReference      NaN
Finished                   NaN
IPAddress                  NaN
LocationAccuracy          0.00
LocationLatitude          0.00
LocationLongitude         0.00
Q1                        0.00
Q10                       0.00
Q11                       0.00
Q12                       0.84
Q13                       0.84
Q14                       0.00
Q15_1                     0.68
Q16                       0.68
Q17                       0.68
Q18                       0.68
Q19                       0.68
Q2                        0.00
Q20                       0.00
Q3                        0.00
Q4                        0.00
Q5                        0.00
Q6                        0.00
Q7                        0.00
Q8                        0.00
Q9                        0.00
RecipientEmail             NaN
RecipientFirstName         NaN
RecipientLastName          NaN
ResponseID                 NaN
ResponseSet                NaN
StartDate                  NaN
Status                     NaN
V1                         NaN
V10                       0.00
V2                        0.00
V3                        0.00
V4                        1.00
V5                        1.00
V6                        0.00
V7                        0.00
V8                        0.00
V9                        0.00
id                     1016.00
ÈÀV1                     0.00

In [96]:
# For DND
dnd_exp_url = '/Users/sicongzhao/Box/My Box Notes/Emotional-State-Capstone/data/DND/experience_sampling/NeuromodulationDesir_DATA_2018-09-04_1916.csv'
exp_dnd= pd.read_csv(dnd_exp_url)

In [106]:
exp_dnd.head().T

,0,1,2,3,4
participant_id,1,2,3,4,5
redcap_survey_identifier,NaN,NaN,NaN,NaN,NaN
desires_survey_timestamp,2016-01-12 07:57:11,2016-01-12 09:25:26,2016-01-12 09:29:13,2016-01-12 09:46:36,2016-01-12 13:42:33
subject,007,012,005,011,007
location,Walking to work,Home,At work,Home,Work
lap,1,4,4,4,5
hap,3,4,4,2,3
han,2,1,1,1,1
lan,1,1,2,3,1
la,2,2,4,3,2
p,3,4,5,4,4
n,1,1,1,1,1
ha,1,1,1,2,3
desire_type,13,13,7,10,9
other_desire,NaN,NaN,NaN,NaN,NaN
desire_strength,NaN,NaN,4,3,5
desire_conflict,NaN,NaN,4,0,0
conflict_type,NaN,NaN,4,NaN,NaN
other_conflict,NaN,NaN,NaN,NaN,NaN
attempt_resist,NaN,NaN,1,0,0
desire_enacted,NaN,NaN,0,1,1
desire_presence,NaN,NaN,0,0,1
desire_type_2,NaN,NaN,1,7,13
other_desire_2,NaN,NaN,NaN,NaN,NaN
desire_strength_2,NaN,NaN,6,5,NaN
desire_conflict_2,NaN,NaN,0,3,NaN
conflict_type_2,NaN,NaN,NaN,1,NaN
other_conflict_2,NaN,NaN,NaN,NaN,NaN
attempt_resist_2,NaN,NaN,1,1,NaN
desire_enacted_2,NaN,NaN,1,0,NaN
desire_presence_2,NaN,NaN,0,0,NaN
desire_type_3,NaN,NaN,9,1,NaN
other_desire_3,NaN,NaN,NaN,NaN,NaN
desire_strength_3,NaN,NaN,3,2,NaN
desire_conflict_3,NaN,NaN,4,0,NaN
conflict_type_3,NaN,NaN,4,NaN,NaN
other_conflict_3,NaN,NaN,NaN,NaN,NaN
attempt_resist_3,NaN,NaN,1,0,NaN
desire_enacted_3,NaN,NaN,0,0,NaN
desire_presence_3,NaN,NaN,0,0,NaN
desires_survey_complete,2,2,2,2,2

In [104]:
exp_df = exp_dnd[['lap','hap','han','lan','la','p','n','ha','subject']]

In [107]:
exp_df['subject'].unique().shape[0]

80

In [115]:
def calc_missingness(df):
    missing_ratio = (df.isna().sum())/(df.shape[0])
#     print(missing_ratio)
    missing_df = missing_ratio.to_frame().T
    return missing_df

dnd_result = exp_df.groupby(['subject']).apply(calc_missingness)

In [117]:
dnd_result.describe()

             lap   hap   han   lan    la     p     n    ha  subject
count  79.000000  79.0  79.0  79.0  79.0  79.0  79.0  79.0     79.0
mean    0.000396   0.0   0.0   0.0   0.0   0.0   0.0   0.0      0.0
std     0.003516   0.0   0.0   0.0   0.0   0.0   0.0   0.0      0.0
min     0.000000   0.0   0.0   0.0   0.0   0.0   0.0   0.0      0.0
25%     0.000000   0.0   0.0   0.0   0.0   0.0   0.0   0.0      0.0
50%     0.000000   0.0   0.0   0.0   0.0   0.0   0.0   0.0      0.0
75%     0.000000   0.0   0.0   0.0   0.0   0.0   0.0   0.0      0.0
max     0.031250   0.0   0.0   0.0   0.0   0.0   0.0   0.0      0.0

In [120]:
exp_dnd[exp_dnd['subject'] == '1q9'].T

                                         2148
participant_id                           2149
redcap_survey_identifier                  NaN
desires_survey_timestamp  2018-03-15 19:07:04
subject                                   1q9
location                                 Home
lap                                         4
hap                                         4
han                                         1
lan                                         1
la                                          2
p                                           4
n                                           1
ha                                          3
desire_type                                13
other_desire                              NaN
desire_strength                           NaN
desire_conflict                           NaN
conflict_type                             NaN
other_conflict                            NaN
attempt_resist                            NaN
desire_enacted                            NaN
desire_presence                           NaN
desire_type_2                             NaN
other_desire_2                            NaN
desire_strength_2                         NaN
desire_conflict_2                         NaN
conflict_type_2                           NaN
other_conflict_2                          NaN
attempt_resist_2                          NaN
desire_enacted_2                          NaN
desire_presence_2                         NaN
desire_type_3                             NaN
other_desire_3                            NaN
desire_strength_3                         NaN
desire_conflict_3                         NaN
conflict_type_3                           NaN
other_conflict_3                          NaN
attempt_resist_3                          NaN
desire_enacted_3                          NaN
desire_presence_3                         NaN
desires_survey_complete                     2

In [118]:
dnd_result.to_csv('dnd_exp_missing_detection.csv')

In [122]:
exp_dnd.loc[2147,:]

participant_id                             2148
redcap_survey_identifier                    NaN
desires_survey_timestamp    2018-03-14 21:41:43
subject                                     119
location                                   Home
lap                                           5
hap                                           5
han                                           1
lan                                           1
la                                            4
p                                             5
n                                             1
ha                                            3
desire_type                                  13
other_desire                                NaN
desire_strength                             NaN
desire_conflict                             NaN
conflict_type                               NaN
other_conflict                              NaN
attempt_resist                              NaN
desire_enacted                              NaN
desire_presence                             NaN
desire_type_2                               NaN
other_desire_2                              NaN
desire_strength_2                           NaN
desire_conflict_2                           NaN
conflict_type_2                             NaN
other_conflict_2                            NaN
attempt_resist_2                            NaN
desire_enacted_2                            NaN
desire_presence_2                           NaN
desire_type_3                               NaN
other_desire_3                              NaN
desire_strength_3                           NaN
desire_conflict_3                           NaN
conflict_type_3                             NaN
other_conflict_3                            NaN
attempt_resist_3                            NaN
desire_enacted_3                            NaN
desire_presence_3                           NaN
desires_survey_complete                       2
Name: 2147, dtype: object

In [148]:
dnd_exp_id_count = exp_dnd.groupby(['subject']).agg(['count'])['participant_id']

In [154]:
dnd_exp_id_count[dnd_exp_id_count['count'] < 20].index

Index([' 031', '001', '002', '072 ', '1q9'], dtype='object', name='subject')

In [137]:
type(dnd_exp_id_count)

pandas.core.frame.DataFrame