# Training two regression models to explore the performance.

This models are latter relabeled into two values:
> 1 = 'Sad'
>
> 0 = 'Happy'

The perfromance of the re-labeled outputs is reported.

In [0]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot  as plt
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
!ls gdrive/My\ Drive/Colab\ Notebooks

 DF_complete_nona.pickle		     X_train_scaled.pickle
 DF_R00_DND_WITHOUT_HR_STEPS.pickle	     X_unknown_test_scaled.pickle
 DF_Sicong.csv				     y_median.pickle
 HR_R00_DND.pickle			     y.pickle
 subjects.pickle			     y_test_know.pickle
'Using_JIT[Just in Time]_with_Numba.ipynb'   y_test_unknow.pickle
 X_known_test_scaled.pickle		     y_train.pickle
 X.pickle

## Ingest data

In [0]:
#Load my DF
obj = ['DF_complete_nona', 'X', 'y', 'y_median', 'subjects']

for i in obj:
    with open(f'./gdrive/My Drive/Colab Notebooks/{i}.pickle','rb') as file:
        exec(i + " = pickle.load(file)")  # Trucazo.  I am creating variables names using my list of strings

In [20]:
X.head()

   HAN_actual  HAN_ideal  HAP_actual  HAP_ideal  ...  hr_0.3  hr_0.5  hr_0.8   hr_1
0    1.333333        1.0         2.6        2.8  ...    77.0    85.0    99.0  127.0
1    1.333333        1.0         2.6        2.8  ...    58.0    65.0    88.0  127.0
2    1.333333        1.0         2.6        2.8  ...    61.0    70.0    88.0  127.0
3    1.333333        1.0         2.6        2.8  ...    58.0    67.0    87.0  131.0
4    1.333333        1.0         2.6        2.8  ...    60.0    71.0    94.0  131.0

[5 rows x 183 columns]

## Functions

In [0]:
# Importing useful things
from sklearn.model_selection import GroupShuffleSplit
from sklearn.model_selection import GroupShuffleSplit
from sklearn.linear_model import BayesianRidge
from sklearn.ensemble import RandomForestRegressor
from sklearn import svm
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error, mean_absolute_error,confusion_matrix,\
                            roc_auc_score, roc_curve,precision_recall_curve,precision_score,\
                            recall_score, accuracy_score, f1_score

#I define gss
gss = GroupShuffleSplit(n_splits=10, train_size=.7, random_state=10)

In [0]:
#define useful functions
def evaluate(model,
             test_set_name = [],
             x_test = [],
             y_test = []):
    '''
    Evaluate MAE, MSE,  RMSE of a model for all the test sets
    '''
    #initialize columns
    df = pd.DataFrame(columns = ['Test set', 'MAE', 'MSE', 'RMSE'])
    for ts , x , y in zip(test_set_name, x_test, y_test):
        predicted = model.predict(x)
        rmse  = np.sqrt(mean_squared_error(y, predicted))
        mae =  mean_absolute_error(y,predicted)
        mse = mean_squared_error(y, predicted)
        df = df.append({'Test set' : ts,
                        'MAE' : mae,
                        'MSE' : mse,
                        'RMSE' : rmse}, ignore_index= True )
    return df

def to_category (series_original):
    '''
    Transform the predicted value into a binary class
    1 = sad
    0 = happy
    '''
    series = series_original.copy()
    series[series_original >= 0] = 0 #happy is  0
    series[series_original < 0] = 1  #sad is 1
    return series

def conf_mat_rate(predict, real):
    '''
    Nice conf matrix
    '''
    tn, fp, fn, tp = confusion_matrix(predict, real).ravel()
    conf = pd.DataFrame(index= ['+','-', 'Total real'], columns= ['POS' , 'NEG'] , data = np.array([[tp,fn],[fp,tn],[1,1]]))
    conf.insert(2, 'Total predicted', np.array([tp+fn,fp+tn,0]))
    conf.iloc[0,0:2] = conf.iloc[0,0:2]/conf.iloc[0,2] # I calculate the rates
    conf.iloc[1,0:2] = conf.iloc[1,0:2]/conf.iloc[1,2]
    conf.iloc[2,:] = np.array([tp+fp,fn+tn,tp+fn+fp+tn]).astype(str) # I calculate the total real observations
    conf.iloc[2,:] = conf.iloc[2,:].astype(int) #formatting to integer
    return conf

def binary_class(model, dfs = None):
    '''
    Generate several metrics
    dfs : list of tuples. (X,y,name of DF)
          X = test X
          y = real labels
    '''
    #in this case I am testing with several DF only to check. In the final stage I would like to do a NestedCV
    if dfs is None:
        dfs = []
  
    all_values = {}
    for df in dfs:
        #df[0] -> X
        #df[1] -> y
        pred = to_category(model.predict(df[0]))
        real = to_category(df[1])
        cf = confusion_matrix(pred,real)
        cf_rate = conf_mat_rate(pred,real)
        
        metrics = {} #metric dictionary
        metrics_names = ['recall','precision','accuracy','f1']
        recall = recall_score(pred,real) #sensitivity
        precision = precision_score(pred,real)
        accuracy = accuracy_score(pred,real)
        f1 = f1_score(pred,real)
        for m in metrics_names:
            metrics[m] = eval(m)
        #append all
        all_values[df[2]] = [cf , cf_rate, metrics]
    return all_values

def metric_table (all_values, name_df, model_name):
    metric_df = pd.DataFrame(all_values[name_df][2], index=[model_name])
    return metric_df

def all_models_scores (models , models_names, name_df):
    '''
    one table per test df
    models : list
    models_name : list
    name_df : string
    '''
    metrics_names = ['recall','precision','accuracy','f1']
    df = pd.DataFrame(index = models_names, columns= metrics_names)
    
    for mod,name in zip(models, models_names):
        all_vals = binary_class(mod)
        df.loc[name,:] = metric_table(all_vals, name_df, model_name=name).values
    return df


def group_shuffle(model,X,y, gss):
    '''
    Function performs a group shuffle CV
    '''
    n = 0
    df = pd.DataFrame(columns = ['Test set',	'MAE',	'MSE',	'RMSE'])
    df2 = pd.DataFrame(columns=  ['recall',	'precision',	'accuracy',	'f1'])
    confusions = {}
    #Loop to train all the different combinations
    for train_idx, test_idx in gss.split(X, y, subjects):
        n += 1
        SCALER = preprocessing.StandardScaler().fit(X.iloc[train_idx,:]) # I would SCALE the data, but to dont contaminate the Fold I should scale using the training for every fold
        x_train = pd.DataFrame(data = SCALER.transform(X.iloc[train_idx,:]), columns = X.columns) # Apply scaler to train data
        x_test = pd.DataFrame(data = SCALER.transform(X.iloc[test_idx,:]), columns = X.columns) # Apply scaler to test data
        model = model.fit(x_train, y.iloc[train_idx])
        df = df.append(evaluate(model,
                                 test_set_name=[f'Set {n}'],
                                 x_test = [x_test],
                                 y_test= [y.iloc[test_idx]]
                               )
                      )
        all_values = binary_class(model, dfs = [(x_test, y.iloc[test_idx], f'Set {n}') ]) 
        confusions[f'Set {n}'] = all_values[f'Set {n}'][1]
        df2 = df2.append(pd.DataFrame(all_values[f'Set {n}'][-1], index =[n]))
    return df,df2, confusions

In [0]:
#Function to evaluate different metrics for the model MERF
def evaluate_MERF(model,
             test_set_name = [],
             x_test = [],
             y_test = [],
             Z = [],
             clusters = []):
    '''
    Evaluate MAE, MSE,  RMSE of a model for all the test sets
    '''
    #initialize columns
    df = pd.DataFrame(columns = ['Test set', 'MAE', 'MSE', 'RMSE'])
    
    for ts , x , y, z, cluster in zip(test_set_name, x_test, y_test, Z, clusters):
        predicted = model.predict(x, z, cluster)
        rmse  = np.sqrt(mean_squared_error(y, predicted))
        mae =  mean_absolute_error(y,predicted)
        mse = mean_squared_error(y, predicted)
        df = df.append({'Test set' : ts,
                        'MAE' : mae,
                        'MSE' : mse,
                        'RMSE' : rmse}, ignore_index= True )
    return df

In [0]:

#need to work on this one
def group_shuffle_MERF(model,X,y,Z,cluster,gss):
    '''
    Function performs a group shuffle CV
    '''
    n = 0
    df = pd.DataFrame(columns = ['Test set',	'MAE',	'MSE',	'RMSE'])
    df2 = pd.DataFrame(columns=  ['recall',	'precision',	'accuracy',	'f1'])
    confusions = {}
    #Loop to train all the different combinations
    for train_idx, test_idx in gss.split(X, y, subjects):
        n += 1
        SCALER = preprocessing.StandardScaler().fit(X.iloc[train_idx,:]) # I would SCALE the data, but to dont contaminate the Fold I should scale using the training for every fold
        x_train = pd.DataFrame(data = SCALER.transform(X.iloc[train_idx,:]), columns = X.columns) # Apply scaler to train data
        x_test = pd.DataFrame(data = SCALER.transform(X.iloc[test_idx,:]), columns = X.columns) # Apply scaler to test data
        model = model.fit(x_train, y.iloc[train_idx])
        df = df.append(evaluate(model,
                                 test_set_name=[f'Set {n}'],
                                 x_test = [x_test],
                                 y_test= [y.iloc[test_idx]]
                               )
                      )
        all_values = binary_class(model, dfs = [(x_test, y.iloc[test_idx], f'Set {n}') ]) 
        confusions[f'Set {n}'] = all_values[f'Set {n}'][1]
        df2 = df2.append(pd.DataFrame(all_values[f'Set {n}'][-1], index =[n]))
    return df,df2, confusions

## Model Parameters

In [0]:
model_rf = RandomForestRegressor(bootstrap=False, criterion='mse', max_depth=140, max_features='sqrt', max_leaf_nodes=None,
                                 min_impurity_decrease=0.0, min_impurity_split=None, min_samples_leaf=4, min_samples_split=4,
                                 min_weight_fraction_leaf=0.0, n_estimators=1500, n_jobs=None, oob_score=False, random_state=None,
                                 verbose=0, warm_start=False)

model_bayesian_ridge = BayesianRidge(alpha_1=1e-05, alpha_2=1e-09, compute_score=False, copy_X=True, fit_intercept=True,
                                     lambda_1=1e-10, lambda_2=0.0001, n_iter=300, normalize=False, tol=0.001, verbose=False)

model_SVR = svm.SVR(C=10, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.001, kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

Fit a MERF model for Known subjects
.

.

.

.

## Fitting models for Unknown (new) Subjects

### Y

#### Bayesian Ridge

In [0]:
# I am going to GroupShuffle CV
# For every run I will get predictions
# I will binarize this predictions and I will get some accuracy metrics

### Bayesian Ridge
reg_metrics_bayes, predict_metric_bayes, all_values_bayes = group_shuffle(model_bayesian_ridge, X, y, gss)

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [0]:
reg_metrics_bayes.mean()

MAE     0.969468
MSE     1.579867
RMSE    1.253791
dtype: float64

In [0]:
#Proportion of 'Sad cases' on 1
to_category(y).sum()/y.shape[0]

0.10857709469509172

In [0]:
predict_metric_bayes.mean()

recall       0.182947
precision    0.018863
accuracy     0.855844
f1           0.030501
dtype: float64

In [0]:
all_values_bayes

{'Set 1':                   POS       NEG Total predicted
 +            0.173913  0.826087              23
 -           0.0959119  0.904088             636
 Total real         65       594             659,
 'Set 10':                  POS       NEG Total predicted
 +                NaN       NaN               0
 -           0.122449  0.877551             637
 Total real        78       559             637,
 'Set 2':                  POS       NEG Total predicted
 +                  0         1               4
 -           0.153344  0.846656             613
 Total real        94       523             617,
 'Set 3':                  POS       NEG Total predicted
 +                0.1       0.9              10
 -           0.075643  0.924357             661
 Total real        51       620             671,
 'Set 4':                  POS       NEG Total predicted
 +           0.166667  0.833333              12
 -           0.148649  0.851351             666
 Total real       101       577             678,
 'Set 5':                  POS       NEG Total predicted
 +           0.222222  0.777778               9
 -           0.110063  0.889937             636
 Total real        72       573             645,
 'Set 6':                  POS       NEG Total predicted
 +                  1         0               1
 -           0.162338  0.837662             616
 Total real       101       516             617,
 'Set 7':                  POS       NEG Total predicted
 +           0.166667  0.833333              18
 -           0.109405  0.890595             521
 Total real        60       479             539,
 'Set 8':                 POS      NEG Total predicted
 +               NaN      NaN               0
 -           0.21875  0.78125             640
 Total real      140      500             640,
 'Set 9':               POS    NEG Total predicted
 +               0      1               1
 -           0.155  0.845             600
 Total real     93    508             601}

#### Random Forest

In [0]:
### Random Forest
reg_metrics_rf, predict_metric_rf, all_values_rf = group_shuffle(model_rf, X, y, gss)
reg_metrics_rf.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

MAE     0.892272
MSE     1.285793
RMSE    1.133163
dtype: float64

In [0]:
predict_metric_rf.mean()

recall       0.066667
precision    0.003217
accuracy     0.888112
f1           0.005935
dtype: float64

In [0]:
predict_metric_rf

      recall  precision  accuracy        f1
1   0.000000   0.000000  0.860390  0.000000
2   0.000000   0.000000  0.867365  0.000000
3   0.000000   0.000000  0.904437  0.000000
4   0.166667   0.020408  0.913115  0.036364
5   0.000000   0.000000  0.918660  0.000000
6   0.500000   0.011765  0.871017  0.022989
7   0.000000   0.000000  0.872814  0.000000
8   0.000000   0.000000  0.892063  0.000000
9   0.000000   0.000000  0.893058  0.000000
10  0.000000   0.000000  0.888199  0.000000

In [0]:
all_values_rf

{'Set 1':                  POS       NEG Total predicted
 +                  0         1               1
 -           0.138211  0.861789             615
 Total real        85       531             616,
 'Set 10':                 POS      NEG Total predicted
 +                 0        1               1
 -           0.11042  0.88958             643
 Total real       71      573             644,
 'Set 2':                  POS       NEG Total predicted
 +                  0         1               2
 -           0.129597  0.870403             571
 Total real        74       499             573,
 'Set 3':                   POS       NEG Total predicted
 +                 NaN       NaN               0
 -           0.0955631  0.904437             586
 Total real         56       530             586,
 'Set 4':                   POS       NEG Total predicted
 +            0.166667  0.833333               6
 -           0.0794702   0.92053             604
 Total real         49       561             610,
 'Set 5':                   POS      NEG Total predicted
 +                 NaN      NaN               0
 -           0.0813397  0.91866             627
 Total real         51      576             627,
 'Set 6':                  POS       NEG Total predicted
 +                0.5       0.5               2
 -           0.127854  0.872146             657
 Total real        85       574             659,
 'Set 7':                  POS       NEG Total predicted
 +                  0         1               5
 -           0.120192  0.879808             624
 Total real        75       554             629,
 'Set 8':                  POS       NEG Total predicted
 +                  0         1               1
 -           0.106518  0.893482             629
 Total real        67       563             630,
 'Set 9':                  POS       NEG Total predicted
 +                NaN       NaN               0
 -           0.106942  0.893058             533
 Total real        57       476             533}

#### SVM

In [0]:
### SVM Regression
reg_metrics_SVR, predict_metric_SVR, all_values_SVR = group_shuffle(model_SVR, X, y, gss)

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [0]:
reg_metrics_SVR

  Test set       MAE       MSE      RMSE
0    Set 1  0.949686  1.510700  1.229105
0    Set 2  1.020616  1.773214  1.331621
0    Set 3  0.825036  1.188461  1.090166
0    Set 4  0.979680  1.647981  1.283737
0    Set 5  0.942568  1.469517  1.212236
0    Set 6  1.020234  1.766681  1.329166
0    Set 7  0.957827  1.554444  1.246773
0    Set 8  1.233239  2.506148  1.583082
0    Set 9  0.991759  1.546247  1.243482
0   Set 10  0.938787  1.544244  1.242676

In [0]:
reg_metrics_SVR.mean()

MAE     0.985943
MSE     1.650764
RMSE    1.279204
dtype: float64

In [0]:
predict_metric_SVR

      recall  precision  accuracy        f1
1   0.074074   0.030769  0.866464  0.043478
2   0.083333   0.010638  0.831442  0.018868
3   0.181818   0.039216  0.913562  0.064516
4   0.000000   0.000000  0.851032  0.000000
5   0.066667   0.013889  0.868217  0.022989
6   0.400000   0.019802  0.834684  0.037736
7   0.250000   0.100000  0.866419  0.142857
8   0.000000   0.000000  0.778125  0.000000
9   0.111111   0.010753  0.833611  0.019608
10  0.500000   0.012821  0.877551  0.025000

In [0]:
predict_metric_SVR.mean()

recall       0.166700
precision    0.023789
accuracy     0.852111
f1           0.037505
dtype: float64

### Y median

#### Bayesian Ridge

In [0]:
#Bayes Ridge
reg_metrics_bayes, predict_metric_bayes, all_values_bayes = group_shuffle(model_bayesian_ridge, X, y_median, gss)
reg_metrics_bayes.mean()

MAE     0.701709
MSE     0.864653
RMSE    0.929102
dtype: float64

In [0]:
#Proportion of 'Sad cases' on 1
to_category(y_median).sum()/y_median.shape[0]

0.4134853743182945

In [0]:
predict_metric_bayes.mean()

recall       0.411705
precision    0.974643
accuracy     0.415662
f1           0.578643
dtype: float64

In [0]:
all_values_bayes

{'Set 1':                  POS       NEG Total predicted
 +           0.415825  0.584175             594
 -                0.5       0.5              22
 Total real       258       358             616,
 'Set 10':                  POS       NEG Total predicted
 +                0.4       0.6             635
 -           0.555556  0.444444               9
 Total real       259       385             644,
 'Set 2':                  POS       NEG Total predicted
 +           0.431858  0.568142             565
 -              0.375     0.625               8
 Total real       247       326             573,
 'Set 3':                  POS       NEG Total predicted
 +           0.389474  0.610526             570
 -             0.4375    0.5625              16
 Total real       229       357             586,
 'Set 4':                  POS       NEG Total predicted
 +           0.405405  0.594595             592
 -           0.333333  0.666667              18
 Total real       246       364             610,
 'Set 5':                  POS       NEG Total predicted
 +           0.393496  0.606504             615
 -           0.416667  0.583333              12
 Total real       247       380             627,
 'Set 6':                  POS       NEG Total predicted
 +           0.432061  0.567939             655
 -                0.5       0.5               4
 Total real       285       374             659,
 'Set 7':                  POS       NEG Total predicted
 +           0.433164  0.566836             591
 -           0.473684  0.526316              38
 Total real       274       355             629,
 'Set 8':                  POS       NEG Total predicted
 +           0.404459  0.595541             628
 -                0.5       0.5               2
 Total real       255       375             630,
 'Set 9':                  POS       NEG Total predicted
 +           0.411306  0.588694             513
 -                0.3       0.7              20
 Total real       217       316             533}

#### Random Forest

In [0]:
### Random Forest
reg_metrics_rf, predict_metric_rf, all_values_rf = group_shuffle(model_rf, X, y_median, gss)
reg_metrics_rf.mean()

MAE     0.743906
MSE     0.972680
RMSE    0.983964
dtype: float64

In [0]:
predict_metric_rf.mean()

recall       0.409253
precision    0.731588
accuracy     0.453681
f1           0.523919
dtype: float64

In [0]:
all_values_rf

{'Set 1':                  POS       NEG Total predicted
 +           0.414141  0.585859             495
 -           0.438017  0.561983             121
 Total real       258       358             616,
 'Set 10':                  POS       NEG Total predicted
 +           0.379921  0.620079             508
 -           0.485294  0.514706             136
 Total real       259       385             644,
 'Set 2':                  POS       NEG Total predicted
 +           0.444695  0.555305             443
 -           0.384615  0.615385             130
 Total real       247       326             573,
 'Set 3':                  POS       NEG Total predicted
 +           0.389868  0.610132             454
 -           0.393939  0.606061             132
 Total real       229       357             586,
 'Set 4':                  POS       NEG Total predicted
 +           0.392683  0.607317             410
 -              0.425     0.575             200
 Total real       246       364             610,
 'Set 5':                  POS       NEG Total predicted
 +           0.392857  0.607143             448
 -           0.396648  0.603352             179
 Total real       247       380             627,
 'Set 6':                  POS       NEG Total predicted
 +           0.416499  0.583501             497
 -           0.481481  0.518519             162
 Total real       285       374             659,
 'Set 7':                  POS       NEG Total predicted
 +           0.428571  0.571429             399
 -           0.447826  0.552174             230
 Total real       274       355             629,
 'Set 8':                  POS       NEG Total predicted
 +            0.39959   0.60041             488
 -           0.422535  0.577465             142
 Total real       255       375             630,
 'Set 9':                  POS       NEG Total predicted
 +           0.433702  0.566298             362
 -           0.350877  0.649123             171
 Total real       217       316             533}

#### SVM

In [0]:
### SVM Regression
reg_metrics_SVR, predict_metric_SVR, all_values_SVR = group_shuffle(model_SVR, X, y_median, gss)

In [0]:
#Regression
reg_metrics_SVR.mean()

MAE     0.772726
MSE     1.052125
RMSE    1.023597
dtype: float64

In [0]:
#Predition
predict_metric_SVR.mean()

recall       0.422644
precision    0.487439
accuracy     0.503142
f1           0.451606
dtype: float64

## Fitting models for Known (old) Subjects

### Y

### Y median

# Sicong Data

In [0]:
fitbit_features = ['subject', "step_max", "step_min", "step_median", "steps_max_3h",
    "steps_min_3h", "steps_mean_3h", "steps_var_3h", "steps_median_3h",
    "move_rate_3h", "active_rate_3h", "very_active_rate_3h",
    "running_rate_3h", "steps_max_1h", "steps_min_1h", "steps_mean_1h",
    "steps_var_1h", "steps_median_1h", "move_rate_1h",
    "active_rate_1h", "very_active_rate_1h", "running_rate_1h",
    "steps_max_30m", "steps_min_30m", "steps_mean_30m",
    "steps_var_30m", "steps_median_30m", "move_rate_30m",
    "active_rate_30m", "very_active_rate_30m", "running_rate_30m",
    "steps_max_10m", "steps_min_10m", "steps_mean_10m",
    "steps_var_10m", "steps_median_10m", "move_rate_10m",
    "active_rate_10m", "very_active_rate_10m", "running_rate_10m",
    "steps_max_5m", "steps_min_5m", "steps_mean_5m", "steps_var_5m",
    "steps_median_5m", "move_rate_5m", "active_rate_5m",
    "very_active_rate_5m", "running_rate_5m", "hr_max", "hr_min",
    "hr_med", "hr_0", "hr_0.3", "hr_0.5", "hr_0.8", "hr_1", "SDNN_3h",
    "pHR2_3h", "rMSSD_3h", "low_hr_3h", "high_hr_3h", "l_h_3h",
    "CR_3h", "hr_mean_3h", "hr_var_3h", "hr_std_3h", "hr_median_3h",
    "hr_rest_rate_3h", "hr_moderate_rate_3h", "hr_very_active_rate_3h",
    "SDNN_1h", "pHR2_1h", "rMSSD_1h", "low_hr_1h", "high_hr_1h",
    "l_h_1h", "CR_1h", "hr_mean_1h", "hr_var_1h", "hr_std_1h",
    "hr_median_1h", "hr_rest_rate_1h", "hr_moderate_rate_1h",
    "hr_very_active_rate_1h", "SDNN_30m", "pHR2_30m", "rMSSD_30m",
    "low_hr_30m", "high_hr_30m", "l_h_30m", "CR_30m", "hr_mean_30m",
    "hr_var_30m", "hr_std_30m", "hr_median_30m", "hr_rest_rate_30m",
    "hr_moderate_rate_30m", "hr_very_active_rate_30m", "SDNN_10m",
    "pHR2_10m", "rMSSD_10m", "low_hr_10m", "high_hr_10m", "l_h_10m",
    "CR_10m", "hr_mean_10m", "hr_var_10m", "hr_std_10m",
    "hr_median_10m", "hr_rest_rate_10m", "hr_moderate_rate_10m",
    "hr_very_active_rate_10m", "SDNN_5m", "pHR2_5m", "rMSSD_5m",
    "low_hr_5m", "high_hr_5m", "l_h_5m", "CR_5m", "hr_mean_5m",
    "hr_var_5m", "hr_std_5m", "hr_median_5m", "hr_rest_rate_5m",
    "hr_moderate_rate_5m", "hr_very_active_rate_5m"]

In [5]:
ALL_DATA = pd.read_csv('gdrive/My Drive/Colab Notebooks/DF_Sicong.csv')
ALL_DATA.head()

   Unnamed: 0 subject  la_p  ...  is_widowed  is_with_partner  income
0           0    1047   4.0  ...           0                0       9
1           1    1047   4.0  ...           0                0       9
2           2    1047   2.0  ...           0                0       9
3           3    1047   3.0  ...           0                0       9
4           4    1047   3.0  ...           0                0       9

[5 rows x 186 columns]

In [6]:
Y_TARGET = ALL_DATA['valence_p'].copy() # I dont know what target variable is Sicong using. Need to ask.
subjects = ALL_DATA.subject # Unique subjects
X_ALL_DATA= ALL_DATA.copy().drop(columns = ['Unnamed: 0','subject','valence_p','valence_n', 'valence_reg' , 'valence'])
X_ALL_DATA.head()

   la_p  ha_p  ha_n  la_n  ...  is_single  is_widowed  is_with_partner  income
0   4.0   3.0   1.0   1.0  ...          0           0                0       9
1   4.0   1.0   1.0   2.0  ...          0           0                0       9
2   2.0   2.0   1.0   2.0  ...          0           0                0       9
3   3.0   1.0   1.0   2.0  ...          0           0                0       9
4   3.0   3.0   1.0   1.0  ...          0           0                0       9

[5 rows x 180 columns]

In [7]:
X_FITBIT_DATA = X_ALL_DATA.copy().filter(fitbit_features)
X_FITBIT_DATA.head()

   step_max  step_min  ...  hr_moderate_rate_5m  hr_very_active_rate_5m
0     110.0       0.0  ...             0.424242                0.000000
1     111.0       0.0  ...             0.000000                0.000000
2     111.0       0.0  ...             0.764706                0.117647
3     111.0       0.0  ...             1.000000                0.000000
4     111.0       0.0  ...             1.000000                0.000000

[5 rows x 126 columns]

#### SVM

In [0]:
### SVM Regression
reg_metrics_SVR, predict_metric_SVR, all_values_SVR = group_shuffle(model_SVR, X_ALL_DATA, Y_TARGET, gss)

ValueError: ignored

In [0]:
reg_metrics_SVR.mean()

MAE     0.088839
MSE     0.023299
RMSE    0.149707
dtype: float64

In [0]:
predict_metric_SVR.mean()

recall       0.896042
precision    0.995346
accuracy     0.985245
f1           0.942938
dtype: float64

#### Descriptive data

In [0]:
X_ALL_DATA.shape

(1873, 180)